:root {
  --main-orange: #df5a26;
  --main-blue: #044852;
  --main-gold: #d2942a;
  --off-white: #f5e8d5;
  --light-blue: #c2dcdb;
  --charcoal: #363638;
}

html {
  font-family: "pf-grand-gothik-variable", sans-serif;
  /* font-variation-settings: "ital" 0, "wght" 500, "wdth" 150; */
  font-variation-settings: "ital" 0, "wght" 500, "wdth" 100;
}

body {
  font-size: 1.5rem;
  margin: 0;
  /* font-family: Arial, sans-serif; */
  background-color: var(--off-white);
}

nav {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--charcoal);
  padding: 1rem 2rem;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  transition: background 1s;
}

nav.sticky {
  background: var(--main-blue);
}

nav.sticky .logo {
  opacity: 1;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;

}

.nav-links li {
  display: inline;
}

.nav-links a {
  text-decoration: none;
  color: var(--off-white);
  font-weight: bold;
  position: relative;
  font-size: 1rem;
  font-variation-settings: "ital" 0, "wght" 500, "wdth" 150;
}

.nav-links a.main-link::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 100%;
  height: 2px;
  background-color: var(--main-orange);
  transition: right 250ms ease-out;
}

.nav-links a.main-link:hover::after {
  right: 0;
}

.cta {
  background: var(--main-orange);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  box-shadow: var(--off-white) 0 0;
  transition: background 250ms ease-out;
}

.cta:hover {
  /* box-shadow: var(--off-white) 2px 2px; */
  background: var(--main-gold);
}

.logo {
  width: 100%;
  max-width: 50px;
  opacity: 0;
  transition: opacity 1s;

}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background: var(--light-blue); */
  background: var(--off-white);

}

.hero-content h2 {
  color: var(--main-orange);
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  opacity: 0;
  transform: translateY(30px);
  animation: fadeInUp 750ms ease-out forwards;
  animation-delay: 1250ms;
  font-variation-settings: "ital" 0, "wght" 500, "wdth" 150;
}

.hero-content button {
  background-color: var(--main-orange);
  color: white;
  text-transform: uppercase;
  font-size: 1.75rem;
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 2rem;
  box-shadow: none;
  transition: box-shadow .5s;
  opacity: 0;
  transform: translateY(30px);
  animation: fadeInUp 750ms ease-out forwards;
  animation-delay: 2000ms;
}

.hero-content button:hover {
  box-shadow: #044852 7px 7px 0px;
}

.hero-content {
text-align: center;
}

.hero-logo {
  min-width: 500px;
  width: 100%;
  max-width: 600px;
  opacity: 0;
  transform: translateY(30px);
  animation: fadeInUp 750ms ease-out forwards;
  animation-delay: 500ms;
}

@keyframes fadeInUp {
  0% {
      opacity: 0;
      transform: translateY(30px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

@media (max-width: 715px) {
  body {
    padding: 1rem;
  }

  html nav {
    display: none;
  }

  .hero {
    display: block;
    box-sizing: content-box;
    width: auto;
  }

  .hero-content {
    width: auto;
  }

  .hero-content h2 {
    font-size: 1.5rem;
  }

  .hero-logo {
    max-width: unset;
    min-width: unset;
    width: auto;
    padding: 2rem;
  }

  #contact-form {
    padding: 0rem;
    max-width: unset;
   }

  nav {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--charcoal);
    padding: 1rem 2rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition: background 1s;
  }
  
  nav.sticky {
    background: var(--main-blue);
  }
  
  nav.sticky .logo {
    opacity: 1;
  }
  
  .nav-links {
    list-style: none;
    display: block;
    gap: 20px;
  }
  
  .nav-links li {
    display: block;
  }
  
  .nav-links a {
    text-decoration: none;
    color: var(--off-white);
    font-weight: bold;
    position: relative;
  }
  
  .nav-links a.main-link::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 100%;
    height: 2px;
    background-color: var(--main-orange);
    transition: right 250ms ease-out;
  }
  
  .nav-links a.main-link:hover::after {
    right: 0;
  }
}

#about {
  /* background-color: white; */
  background-image: url(https://images.unsplash.com/photo-1466690672306-5f92132f7248);
  background-position: center;
  background-size: cover;
  display: flex;
  /* align-items: center; */
  justify-content:flex-start
}

#capabilities {
  background-image: url(./ohanaVan.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  /* align-items: center; */
  justify-content:flex-end
}

#contact {
  /* background-color: white; */
  background-image: url(./coasters.JPG);
  background-position: center;
  background-size: cover;
  display: flex;
  /* align-items: center; */
  justify-content:flex-start
}

#footer {
  min-height: unset;
  height: 500px;
  background-color: var(--main-blue);
}

article {
  /* max-width: 1200px; */
  max-width: 800px;
  padding: 2rem 3rem;
  background-color: #f5e8d5;
  padding-top: 86px;
box-sizing: border-box;
line-height: 135%;
}

section {
  /* min-height: calc(100vh - 86px); */
  min-height: 100vh;
  /* padding-top: 86px; */
}

h2 {
  font-family: "pf-grand-gothik-variable", sans-serif;
  font-variation-settings: "ital" 0, "wght" 700, "wdth" 150;
  font-size: 2.25rem;
  color: var(--main-orange);
}
 h3 {
  font-family: "pf-grand-gothik-variable", sans-serif;
  font-variation-settings: "ital" 0, "wght" 600, "wdth" 150;
  font-size: 1.5rem;
  color: var(--main-blue);
 }

 #contact-form {
  background-color: var(--light-blue);
  padding: 1rem 2rem;
  max-width: fit-content;
  box-sizing: border-box;

max-width: 100%;

 }

 #contact-form label {
  display: block;
  max-width: 100%;
  box-sizing: border-box;


}

#contact-form input {
  display: block;
  font-size: 1.5rem;
  border: none;
  padding: .5rem 1rem;
  margin-bottom: 1rem;
  max-width: 100%;
  box-sizing: border-box;


 }

 b {
  font-variation-settings: "ital" 0, "wght" 500, "wdth" 120;
  color: var(--main-orange);
 }

 button.standard {
  background-color: var(--main-orange);
  color: white;
  text-transform: uppercase;
  font-size: 1.25rem;
  /* width: 100%; */
  display: block;
  margin-top: 1rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 2rem;
  box-shadow: none;
  transition: box-shadow .5s;
}

button.standard:hover {
  box-shadow: #044852 7px 7px 0px;
}

a.contact-link {
  text-decoration: none;
}