@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Playfair+Display:ital,wght@0,500;1,500&display=swap');

:root {
  --main-brown: #c2571d;
  --main-dark-green: #214B35;
  --main-lighter-green: #587256;
  --main-tan: #ffe3b0;
}

html {
  /* background: linear-gradient(to left, white, #eee); */
  background-color: var(--main-dark-green);
  color: var(--main-tan);
  /* font-family: "Playfair Display", serif; */
  font-family: "Archivo Black", serif;
}

.header-container {
  display: flex;
  justify-content: center;
}

.header-container img {
  max-width: 1300px;
}

.container {
  text-align: center;
}

.container h1 {
  font-family: "Archivo Black", serif;
  font-size: 3rem;
  text-transform: uppercase;
  margin-top: 0;
  background-color: var(--main-brown);
}

a {
  color: var(--main-brown)
}

@media (max-width: 600px) {
  html {
    background: none;
  }
  .container h1 {
    font-family: "Archivo Black", serif;
    font-size: 2rem;
    text-transform: uppercase;
    margin-top: 0;
    background-color: orange;
  }
}